[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "vim/bundle/statline"]
	path = vim/bundle/statline
	url = git://github.com/millermedeiros/vim-statline.git
[submodule "vim/bundle/xml-plugin"]
	path = vim/bundle/xml-plugin
	url = https://github.com/sukima/xmledit.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
